/* <!-- HTML !-->
<button class="button-1" role="button">Button 1</button> */

.confirm {
  background-color: #ea4c89;
}
.critical {
  background-color: #fb8332;
}

.recovered {
  background-color: #2c974b;
}

.death {
  background-color: #f04242;
}
/* CSS */
.button-1 {
  /* background-color: #ea4c89; */
  border-radius: 0.8rem;
  border-style: none;
  color: #ffffff;
  cursor: pointer;
  /* display: inline-block; */
  /* font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif; */
  font-size: 1.4rem;
  font-weight: 500;
  /* height: 40px; */
  /* line-height: 1.5rem; */
  list-style: none;
  margin: 0;
  outline: none;
  border: 3px solid transparent;
  /* padding: 10px 16px; */
  /* position: relative; */
  text-align: center;
  /* text-decoration: none; */
  transition: color 100ms;
  vertical-align: baseline;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-1:hover,
.button-1:focus {
  border: black 3px solid;
}
.button-1:focus {
  color: black;
  font-weight: bold;
}
