/* CSS */
.button-1 {
  background-color: #d2d2d2;
  border-style: none;
  color: #ffffff;
  cursor: pointer;
  flex: 1;
  display: inline-block;
  font-size: 1.4rem;
  font-weight: 500;
  list-style: none;
  outline: none;
  border: 3px solid transparent;
  text-align: center;
  transition: color 100ms;
  vertical-align: baseline;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-1:focus {
  color: black;
  font-weight: bold;
}

.confirm-btn:hover,
.confirm-btn:focus {
  background-color: #ea4c89;
}
.critical-btn:hover,
.critical-btn:focus {
  background-color: #fb8332;
}

.recovered-btn:hover,
.recovered-btn:focus {
  background-color: #2c974b;
}

.death-btn:hover,
.death-btn:focus {
  background-color: #f04242;
}
